body {
  font-family: Arial, sans-serif;
}
.forget-main { display: grid; align-items: center; justify-content: center; }
.button { margin-top: 10px; height: 40px; border-radius: 6px; background-color: #C6D870; }
.forget-box { width: 33px; height: 33px; border: 1px solid #ccc; border-radius: 6px; }
.forget-box-container { display: flex; align-items: center; justify-content: space-around; }